.pyc
.env
__pycache__/
.DS_Store
.vscode/
.idea/
dist/
coverage/
logs/
*.log
*.sqlite3
*.bak
*.swp
*.tmp
*.out
*.zip
*.tar.gz
*.egg-info/
.env.local
.env.development.local
.env.test.local
.env.production.local

*.md